body {
  background: white;
  font-family: Arial, sans-serif;
}

.switch {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.switch button {
  width: 75px;
  height: 100px;
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_sprite.jpg) no-repeat;
  border: 0;
  cursor: pointer;
  outline: none;
}

.blue.off button {
  background-size: 320px 320px;
  background-position: -242px -215px;
}

.blue.on button {
  background-size: 320px 320px;
  background-position: -162px -215px;
}
