body {
  background: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

input {
  font-size: 20px;
  padding: 5px;
  transition: box-shadow 0.15s;
  outline: none;
  border: 1px solid #92d2ff;
  border-radius: 3px;
  color: #333;
}

input:focus {
  box-shadow: 0 0 0.5rem 0.1rem rgba(165, 213, 255, 0.73);
}

button {
  margin-left: 10px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  opacity: 0.8;
  transition:
    opacity 0.15s,
    transform 0.15s;
}

button.hover {
  opacity: 1;
  transform: scale(1.1);
}

button.active {
  opacity: 1;
  transform: scale(1.05);
}
